{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended",
    "@vue/prettier"
  ],
  "rules": {},
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2018
  }
}